@model IEnumerable<_23DH114201_My_Store.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-success">DANH SÁCH DANH MỤC</h2>


<table class="table bg-info col-lg-12 col-md-6 col-sm-3">
    <tr>
        <th class="bg-success col-lg-8 col-md-4 col-sm-2">
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            TÊN DANH MỤC
        </th>
        <th class="bg-success col-lg-2 col-md-2 col-sm-1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
